---
import Navicon from "./navicon.astro"

const dotSize = "20"
---
<style lang="styl">
    #nav-about 
        display: inline
        position: absolute
        top: 10vh
        left: 13vw
    
    #nav-projects 
        display: inline
        position: absolute
        top: 20vh
        left: 53vw
    
    #nav-readings 
        display: inline
        position: absolute
        top: 65vh
        left: 38vw
    
    #nav-posts 
        display: inline
        position: absolute
        top: 70vh
        left: 70vw
    
    #nav-contact 
        display: inline
        position: absolute
        top: 43vh
        left: 80vw
    
    #nav-github 
        display: inline
        position: absolute
        top: 30px
        right: 30px
    
    .nav-size
        font-size: 1rem

        @media (max-width: 600px)
            font-size: 1rem

        @media (any-hover: none)
            font-size: 1rem

    label input
        display: none

        // Hamburger behavior
        &:checked + .menu .hamburger
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

            &:before
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                top: 0;
            &:after
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                bottom: 0;

        &:checked + .menu + ul
            opacity: 1
            transition: opacity 1.5s

    label .menu 
        position: absolute;
        left: 40px;
        top: 40px;
        // z-index: 100;
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 00);
        border-radius: 10% 10% 10% 10%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
        cursor: pointer;
    
    label .hamburger 
        position: absolute
        top: 20px
        left: 5px
        width: 30px
        height: 2px
        background: #FFF
        display: block
        -webkit-transform-origin: center
        transform-origin: center
        -webkit-transition: .5s ease-in-out
        transition: .5s ease-in-out
        cursor: pointer

        &:after, &:before
            -webkit-transition: .5s ease-in-out
            transition: .5s ease-in-out
            content: ""
            position: absolute
            display: block
            width: 100%
            height: 100%
            background: #FFF

        &:before
            top: -10px

        &:after
            bottom: -10px

    label ul 
        opacity: 1
        transition: opacity 1.5s

        @media (any-hover: none)
            opacity: 0

    // Don't show hamburger menu on computer device
    @media (any-hover: hover)
        label .hamburger, label .menu
            display: none


</style>
<div class="absolute inset-0 h-full inline-block">
    <label>
        <input type="checkbox">
        <span class="menu">
            <span class="hamburger"/>
        </span>
        <ul>
            <li id='nav-about' class="nav-size"><Navicon size={dotSize} url="/about">About</Navicon></li>
            <li id='nav-projects' class="nav-size"><Navicon size={dotSize} url="/projects">Projects</Navicon></li>
            <li id='nav-readings' class="nav-size"><Navicon size={dotSize} url="/readings">Readings</Navicon></li>
            <li id='nav-posts' class="nav-size"><Navicon size={dotSize} url="/posts">Posts</Navicon></li>
            <li id='nav-contact'class="nav-size"><Navicon size={dotSize} url="/contact">Contact</Navicon></li>
        </ul>
    </label>
     
    <div id='nav-github'>
        <a href="https://github.com/pandagab" class="text-slate-400 hover:text-slate-500 dark:hover:text-slate-300">
            <svg viewBox="0 0 16 16" class="w-6 h-6" fill="currentColor" aria-hidden="true">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
            </svg>
        </a>
    </div>
</div>
  